html{
	background-color:lightgrey;
	font-family: "arial";
	color:black;
}
ul#menu{
	list-style:none;
}
ul#menu li{
	position:relative;
	height:50px;
	width:100px;
	float:left;
	margin: 10px 10px 0 0;
	background-color:lightgrey;
	border: 1px solid black;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	-o-border-radius:4px 4px 4px 4px;
}
ul#menu li a {
	position: absolute;
	color: black;
	display: block;
	width: 100px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	vertical-align: top;
	text-decoration: none;
	background-color:transparent;
	transition: background-color 0.5s;
}
ul#menu li  a:hover{
	background-color:grey;
}
ul#menu li  a:visited{
	color:black;
}
